<form class="form-inline" id="new_info_contact" name="contact">
	<input type="text" class="input-medium number" />
	<input type="hidden" class="contact_id" value="<%= contact_id %>"/>
	<button id="add">Add</button>
</form>
<a class="btn btn-primary" id="addInfoContact" href="#">New</a>